.add {
  background: #d32641;
  padding: 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 300px;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

